In [106]:
#The circumference of the circle
radius = float(input ("Enter Radius: "))
print("C =",2*3.14*radius)

Enter Radius: 1
C = 6.28

In [107]:
#The circumference of the rectangular
width = float(input('Enter the width: '))
length = float(input('Enter the length: '))
print(2*( length + width ))

Enter the width: 2
Enter the length: 3
10.0

# Objects and Data Structures Assessment Test

## Test your knowledge. 

**Answer the following questions**

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:   1(integer) , 1.5(float)

Strings:  "Name", "Any words"

Lists: [ 1, "aa" , 212]

Tuples: (22,'str')

Dictionaries: {key1:value , key2:value}

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [6]:
100/.1 *20%1500 /5+.25

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [7]:
4 * (6 + 5)

44

In [8]:
4 * 6 + 5

29

In [9]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>
Floating number

What would you use to find a numberâ€™s square root, as well as its square?

In [16]:
# Square root:
100**.5

10.0

In [12]:
# Square: 
10 **2

100

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [27]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [30]:
s ='hello'
# Reverse the string using slicing
s [::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [31]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [32]:
# Method 2:
s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [35]:
# Method 1:
list = [ 0, 0 , 0]
print (list)

[0, 0, 0]

In [37]:
# Method 2:
list1 = [0]*3
list1

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [41]:
list3 = [1,2,
         [3,4,'hello']]
list3 [2][2]= "goodbye"
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [69]:
list4 = [5,3,4,6,1]
list4

[5, 3, 4, 6, 1]

In [57]:
list4.sort(reverse=True)
list4

[6, 5, 4, 3, 1]

In [53]:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

In [72]:
sorted (list4, reverse=True)

[6, 5, 4, 3, 1]

In [67]:
list4 = [5,3,4,6,1]
sorted (list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [78]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [89]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [91]:
##### Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

KeyError: 'this is deep'

In [93]:
#### This will be hard and annoying!
d = {'k1':
     [1,2,{'k2':
           ['this is tricky',{'tough':
                              [1,2,['hello']]}]}]

AttributeError: 'dict' object has no attribute 'sort'

Can you sort a dictionary? Why or why not?<br><br>

## Tuples

What is the major difference between tuples and lists?<br><br>
 tuples are immutable

How do you create a tuple?<br><br>

In [97]:
x = (6,7,8)
x

(6, 7, 8)

In [98]:
type(x)

tuple

## Sets

What is unique about a set?<br><br>

##### no duplicated items

Use a set to find the unique values of the list below:

In [99]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [100]:
# Answer before running cell
2 > 3

False

In [101]:
# Answer before running cell
3 <= 2

False

In [102]:
# Answer before running cell
3 == 2.0

False

In [103]:
# Answer before running cell
3.0 == 3

True

In [104]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [105]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1'] #3>= 4

False

# Great Work!